BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
SpaceAfterCStyleCast: false
PointerAlignment: Right
